
/*.draggable {
	height: 200px;
	width: 100px;
	background-color: Green;
	position: absolute;
	cursor: move;
}*/

/*
.card {
	cursor: move;
	position: absolute;
	height: 140px;
	width: 100px;
	background-color: white;
	//position: absolute;
	//cursor: move;
  //background-image: url("../../assets/10_of_clubs.svg");
  //background-image: url("/assets/svg-cards/10_of_clubs.svg");
  background-size:     contain;
  background-repeat:   no-repeat;
  background-position: center center;
}
*/


.card
  position: absolute
  display: inline-block
  //left: unit(-31 / 16, 'rem')
  //top: unit(-44 / 16, 'rem')
  //width: unit(62 / 16, 'rem')
  //height: unit(88 / 16, 'rem')
  width: unit(97, 'px')
  height: unit(140px, 'px')
  background-color: #fff
  background-size: contain;
  background-repeat:   no-repeat;
  border-radius: 4px
  box-shadow: 0 1px 1px rgba(#000, .15)
  cursor: move
  transform: translate(0px, 0px)
  will-change: transform
